black==26.1.0
isort==7.0.0
flake8==7.3.0
# sphinx==8.2.3
# sphinx-autodoc-typehints==3.5.2
# sphinx-copybutton==0.5.2
mypy==2.1.0
scipy-stubs==1.17.1.4
types-PyYAML==6.0.12.20260510
pandas-stubs==3.0.0.260204
pytest==9.0.3
pytest-mock==3.15.1
pytest-cov==7.1.0